body {
    padding: 0;
    margin: 0;
}
main { 
    display: flex;
    width: 100%;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    color: #eef0f1;
    text-align: center;
    height: 60rem;
}

* {box-sizing: border-box; }
.categories {
    display: flex; 
    width: 65%; 
    flex-wrap: wrap; 
    font-size: 1.5vw;

}
.categories h1 {
    padding-top: 160px;

}
.overlay{
    background: black;
    opacity: .8;
    padding: 10px;
} 
.categories > div {
    border: 1px solid; 
    margin: 0px; 
    padding: 0px; 
}
.categories__fonts{
    width: 34%;
    background-image: url(Images/font.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.categories div:nth-of-type(2) {
    width: 66%;
    background-image: url(Images/cods.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categories > div:nth-of-type(3) {
    width: 34%; 
    flex-grow: 0; 
    flex-shrink: 0;
    background-image: url(Images/learn.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categories > div:nth-of-type(4) {
    flex-shrink: 0; 
    flex-grow: 0; 
    align-self: stretch; 
    order: 0; 
    width: 33%;
    background-image: url(Images/polza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.categories > div:nth-of-type(5) {
    width: 33%;
    background-image: url(Images/help.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.list {
    width: 35%;
    background: linear-gradient(135.66deg, #2D3757 0%, #37526C 101.18%);
    height: 60rem;
    padding: 3px;
    font-size: 2vw;
}
.list p {
    font-size: 2vw;
}
.overlay {
    height: 29.95rem;
    background-color: black;
    opacity: .8;
    cursor: pointer;
}
.overlay:hover {
    background: rgba(45, 55, 87, 0.8);
}
a, a:link, a:visited {
    text-decoration: none;
    color:#eef0f1;
}
a:hover {
    color:skyblue;
}

/*@media screen and (max-width: 442px) {
    .list__text {
        font-size: 3vw;
    }
}
@media screen and (min-width: 442px) {
    .list__text {
        font-size: 2.5vw;
    }
}
@media screen and (min-width: 487px) {
    .list__text {
        font-size: 2.4vw;
    }
}
@media screen and (min-width: 678px) {
    .list__text {
        font-size: 2vw;
    }
} */


@media screen and (min-width: 633px) {
    .list__text {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1143px) {
    .list__text {
        font-size: 1.7vw;
    }
}
    @media screen and (max-width: 633px) {
        .categories {
            font-size: 1vw;
        }
        .main {
            height: 34rem;
        }
        .list {
            height: 34rem;
            padding: 3px;
        }
        .overlay {
            height: 16.9rem;
        }
        .list__text {
            font-size: 2.5vw;
        }
        .categories h1 {
            padding-top: 140px;
            font-size: 3vw;
        }
    }
    @media screen and (max-width: 423px) {
        .list__text {
            font-size: 3.7vw;
        }
            .categories{ 
                font-size: 1em;
            }
            .main {
                height: 45rem;
            }
            .list {
                height: 45rem;
                padding: 3px;
            }
            .overlay {
                height: 22.4rem;
            }
            .categories h1 {
                padding-top: 140px;
                font-size: 3.5vw;
            }
            .list p {
                font-size: 3vw;
            }
        }
@media screen and (min-width: 1550px) {
    .main {
        height: 75rem;
    }
    .list {
        height: 75rem;
    }
    .overlay {
        height: 37.5rem;
    }
    .list__text {
        font-size: 1.3vw;
    }
}
@media screen and (min-width: 1800px) {
    .main {
        height: 90rem;
    }
    .list {
        height: 90rem;
    }
    .overlay {
        height: 44.9rem;
    }
    .list__text {
        font-size: 1.2vw;
    }
}